{% extends 'base.html' %}

{% block body %}
    <h1> Welcome to VTM!</h1> 

    <img src= "{{ url_for('static', filename= 'above_ground_vertical_tanks.jpg') }}" />

    <img2 src= "{{ url_for('static', filename= 'service+area.png') }}" />

    <body>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Commodo ullamcorper a lacus vestibulum sed. Eu tincidunt tortor aliquam nulla facilisi cras fermentum. Cursus mattis molestie a iaculis at erat pellentesque. 
        Blandit aliquam etiam erat velit scelerisque in. Nunc eget lorem dolor sed viverra ipsum. Tempus egestas sed sed risus pretium. Egestas diam in arcu cursus euismod quis viverra. 
        Egestas purus viverra accumsan in. Blandit volutpat maecenas volutpat blandit. Natoque penatibus et magnis dis parturient. Posuere lorem ipsum dolor sit amet consectetur adipiscing. 
        Amet commodo nulla facilisi nullam. Ultrices neque ornare aenean euismod elementum nisi quis eleifend quam. Eu turpis egestas pretium aenean pharetra magna ac placerat. 
        Diam volutpat commodo sed egestas egestas fringilla phasellus. Etiam sit amet nisl purus in. Ut tortor pretium viverra suspendisse potenti nullam ac.
    
            Tellus orci ac auctor augue mauris augue. Nisi est sit amet facilisis magna etiam tempor. Quis blandit turpis cursus in hac habitasse platea dictumst quisque.
        Id leo in vitae turpis massa sed elementum tempus. Scelerisque varius morbi enim nunc faucibus. Quis varius quam quisque id diam vel. Donec enim diam vulputate ut pharetra. 
        Vitae et leo duis ut. Aliquam etiam erat velit scelerisque. Felis eget velit aliquet sagittis id consectetur purus ut faucibus. Senectus et netus et malesuada fames ac turpis. 
        Elementum nisi quis eleifend quam adipiscing vitae. Vitae tortor condimentum lacinia quis vel eros donec ac odio. Malesuada pellentesque elit eget gravida cum sociis natoque penatibus et. 
        Ut tortor pretium viverra suspendisse.
    </body>

{% endblock %}

